.burger {
  width: 2em;
  height: 2px;
  margin-top: spacing(x1);
  margin-bottom: spacing(x1);

  background-color: color(ambient);
  display: block;

  position: relative;

  transition: background-color .4s ease;

  &::before, &::after {
    content: '';
    width: 100%;
    height: 100%;

    background-color: color(ambient);
    display: block;

    position: absolute;
    left: 0;

    transform-origin: 50%;
    transition: all .3s ease;
  }

  &::before {
    top: spacing(x1) * (-1);
  }

  &::after {
    bottom: spacing(x1) * (-1);
  }

  &.is-active {
    background-color: transparent;

    &::before {
      top: 0;
      transform: rotate(-45deg);
    }

    &::after {
      bottom: 0;
      transform: rotate(45deg);
    }
  }
}

.burger-wrap {
  padding-top: spacing(xs);
  padding-bottom: spacing(xs);
  padding-left: spacing(xs);
  padding-right: spacing(xs);

  cursor: pointer;
}
