$base-spacing: 4px;
$multiplier: 2;

$spacing: (
  0: 0,
  x0h: 0.5,
  x1: 1,
  xxs: 1,
  x1h: 1.5,
  xs: 2,
  x2: 2,
  x2h: 2.5,
  s: 3,
  x3: 3,
  x4: 4,
  m: 5,
  x5: 5,
  x6: 6,
  x7: 7,
  l: 8,
  x8: 8,
  x10: 10,
  xl: 15,
  x15: 15,
  xxl: 20,
  x20: 20,
);
