.gradient-content-teaser {
  margin-bottom: spacing(x15);

  &:not(.-flip) {
    ._content {
      padding-left: spacing(l);
      padding-right: calc(spacing(l) + (2/#{$grid-columns}) * 100%);
    }
  }

  &.-flip {
    ._content {
      padding-left: calc(spacing(l) + (2/#{$grid-columns}) * 100%);
      padding-right: spacing(l);
    }
  }
}

:deep(.ratio-box) {
  z-index: 1;
}

:deep(img) {
  border-radius: 10px;
}

._content {
  padding-top: spacing(l);
  padding-bottom: spacing(l);
  padding-left: spacing(l);
  padding-right: calc(spacing(l) + (2/#{$grid-columns}) * 100%);

  :deep(p:last-child) {
    margin-bottom: 0;
  }
}

@include breakpoint(sm) {
  .gradient-content-teaser {
    &.-flip, &:not(.-flip) {
      ._content {
        padding-left: spacing(m);
        padding-right: spacing(m);
      }
    }

    &:not(.-flip) {
      ._content {
        padding-bottom: spacing(l) + spacing(l);
      }

      :deep(.ratio-box) {
        margin-top: spacing(l) * (-1);
      }
    }

    &.-flip {
      ._content {
        padding-top: spacing(l) + spacing(l);
      }

      :deep(.ratio-box) {
        margin-bottom: spacing(l) * (-1);
      }
    }
  }
}

@include breakpoint(xs) {
  .gradient-content-teaser {
    margin-bottom: spacing(x10);
  }
}

